In [196]:
import numpy as np
import yfinance as yf
df=yf.download("2330.TW",start='2018-06-21',end='2022-09-18')
df

[*********************100%***********************]  1 of 1 completed

             Open   High    Low  Close   Adj Close    Volume
Date
2018-06-21  227.5  228.0  226.0  226.5  197.098495  31242557
2018-06-22  224.5  227.5  224.0  227.5  197.968735  43581409
2018-06-25  220.0  220.5  218.0  218.0  196.615829  45025211
2018-06-26  215.5  216.0  212.5  214.5  193.459183  38446346
2018-06-27  216.0  216.0  212.5  213.0  192.106293  39888414
...           ...    ...    ...    ...         ...       ...
2022-09-02  488.0  489.5  485.0  485.0  485.000000  29982959
2022-09-05  485.0  488.0  484.0  486.0  486.000000  15903415
2022-09-06  488.5  491.5  486.5  489.0  489.000000  16700285
2022-09-07  477.0  478.0  472.0  472.5  472.500000  34678562
2022-09-08  473.0  475.0  472.0  475.0  475.000000  27931552

[1031 rows x 6 columns]

In [197]:
import pandas as pd

In [198]:
# df=pd.read_csv("TSMC.csv")
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [199]:
# X=pd.DataFrame(df['Total_volumn'].apply(lambda x:int("".join(x.split(",")))))
X=pd.DataFrame(df['Volume'])

In [207]:
X.head()

              Volume
Date
2018-06-21  31242557
2018-06-22  43581409
2018-06-25  45025211
2018-06-26  38446346
2018-06-27  39888414

In [201]:
y=df['Close']
y

Date
2018-06-21    226.5
2018-06-22    227.5
2018-06-25    218.0
2018-06-26    214.5
2018-06-27    213.0
              ...
2022-09-02    485.0
2022-09-05    486.0
2022-09-06    489.0
2022-09-07    472.5
2022-09-08    475.0
Name: Close, Length: 1031, dtype: float64

In [202]:
from sklearn.linear_model import LinearRegression

In [203]:
lm=LinearRegression()

In [204]:
lm.fit(X,y)

LinearRegression()

In [205]:
#predicted_sales = lm.predict(to_be_predicted)
to_be_predicted = np.array([
    [29115000]
])

prediction=lm.predict(to_be_predicted)

/Users/caimengdian/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [206]:
prediction

array([411.86913721])